<body class="andy">
   <div class="jumbotron2">
       <h1 class="title">COOL OFFER</h1>
       <p class="title">A Place to find Your Dream Job<br/>
        It's only about a Chance!
       </p>
       <p class="title">
           <a class="btn btn-lg btn-danger" href="/jobs/">Join Us</a>

       </p>
   </div>


   <div class="jumbotron1">
    <div class="col-sm-4 ">
        <div class="thumbnail">
            <img src="http://vignette4.wikia.nocookie.net/evchk/images/0/04/WeChat-Icon.png/revision/latest?cb=20121102054447" width="50" height="50" alt="search" class = "img-thhumbnail">
            <div class="caption">Wechat: qingqingzijin421446</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="http://www.xpowherb.com/UserFiles/Image/cemail.png" width="50" height="50" alt="bid" class = "img-thhumbnail">
            <div class="caption">Email: renwq8@126.com</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="http://icons.veryicon.com/png/Application/iOS7%20Style%20Metro%20UI/MetroUI%20Other%20Phone%20Alt.png" width="50" height="50"  alt="heart" class = "img-thhumbnail">
            <div class="caption">TEL: 139 XXXX 8312<br>
            </div>
        </div>
    </div>
</div>
</body>
