<body class="andy">
   <div class="jumbotron2">
       <h1 class="title">COOL OFFER</h1>
       <p class="title">A Place to find Your Dream Job<br/>
        It's only about a Chance!
       </p>
       <p class="title">
           <a class="btn btn-lg btn-danger" href="/jobs/">FIND</a>

       </p>
   </div>



</body>
