/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


.navbar-default {
    background-color: #2d1e10;
    border-color: #2d1e10;
    position: relative;
    margin-bottom: 0px;
    height: 10px;
    padding-top: 2px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}

.navbar-default .navbar-brand {
      font-family: 'Open Sans' , sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      color: #FFFFFF;
      margin-top: 0.2px;
      text-transform: uppercase;
      letter-spacing: 0px;
  }


  .navbar-collapse {
      width: 100%;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;
      margin-top: 0.5px;
      outline: 0;
      cursor: pointer;
      letter-spacing: 0px;
  }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FF6F00;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a{
  color: 12170D;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FF6F00;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FF6F00;
  background-color: #FFE0B2;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #FFE0B2;
    color: #212121;
}

.table {
    background: #FFF;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    margin-top: 60px;
    color: #333;
}
