// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.andy{
  background-image: none;
    background-size: cover;
}
.jumbotron2 {
    // background-image: url('https://ooo.0o0.ooo/2017/01/15/587b281665253.png');
    background-image: url('https://images.unsplash.com/photo-1444985196643-57cb0154bbd5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=b61713cef1c82a52903e9acaca626334');
    // background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px; //内部的底部边距，这样按钮不会很靠近底部了
    padding-bottom: 150px; //内部的底部边距，这样按钮不会很靠近底部了
    margin-top: 0; //顶部margin为0，因此可以直接接着导航栏；左右margin为负15，
    border-radius: 0;
}

.jumbotron1 {
    display: block;
    background: transparent;
    // margin: 0 -15px -15px 0; //顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
    border-radius: 0; //圆角为0
}

.jumbotron2 .h1,
.jumbotron2 h1 {
    text-align: center; //文字左对齐
    color: #FB8C00; //字体颜色
    padding: 10px; //上50px，左右20px，下0
}

.jumbotron2 p {
    margin: 0; //上下左右margin为0
    font-size: 26px; //字体大小
    // max-width: 600px; //最大宽度
    background-color: rgba(250, 250, 250, 0.2); //背景颜色含透明度
    padding: 5px; //上下左右padding为20px
    text-align: center; //文字居中
    color: #212121; //字体颜色
    // border-bottom-right-radius: 3px; //右下角圆边
    // border-bottom-left-radius: 3px; //左下角圆边
}

.title {
    background-color: rgba(250, 250, 250, 0.3); //背景颜色含透明度
    // max-width: 600px; //最大宽度
    margin-top: 50px; //和顶部拉开距离
    margin-bottom: 0; //这样就可以紧接息面的描述文字
    // border-top-right-radius: 3px; //右上角圆边
    // border-top-left-radius: 3px; //左上角圆边
}

.btn-danger {
    color: #fff; //字体颜色
    background-color: #382928; //背景颜色
    border-color: #382928; //边框颜色
}

.btn-danger-admin {
    color: #CFD8DC; //字体颜色
    background-color: #607D8B; //背景颜色
    border-color: #607D8B; //边框颜色
}

.btn-danger:hover {
    background-color: #EF6C00; //鼠标放置在btn上的背景颜色
    border-color: #FF9100; //鼠标放置在btn上的边框颜色
}

.btn-danger-admin:hover {
    background-color: #546E7A; //鼠标放置在btn上的背景颜色
    border-color: #546E7A; //鼠标放置在btn上的边框颜色
}

.btn-group-lg > .btn,
.btn-lg {
    padding: 8px 16px; //通过padding来决定btn的大小
    font-size: 20px; //btn文字大小
    letter-spacing: 3px; //调整文字间距
    border-radius: 3px; //btn圆角
    width: 200px; //这里用指定宽度把btn拉得更长
}

.caption {
    margin: 10px;
    text-align: center;
    top: 0;
    background-color: transparent;
}

.thumbnail {
    border: none;
    margin-top: 30px;
    margin-down: 30px;
    background-color: transparent;
}


.custab {
    border: 1px solid #9E9E9E;
    padding: 5px;
    margin: 15px 0 100px;
    box-shadow: 10px 3px 2px #ccc;
    transition: 0.2s;
}

.custab:hover {
    box-shadow: 3px 3px 0 transparent;
    transition: 0.5s;
}
