
<footer class="container-fluid" class="site-footer col-md-12 col-md-offset-0">

    <div class="foot">
      <div >
        <p class="text-center">
          Copyright ©2017 CoolOffer Inc., Designed by Renwq8
        </p>
      </div>
    </div>

  </footer>
